@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  box-sizing: border-box;
  min-height: 100vh;
  min-height: stretch;
  min-height: -webkit-fill-available;
}
html {
  height: stretch;
  height: -webkit-fill-available;
}

